@model ClubSystems.Models.MemberShip

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MemberShip</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberShipType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberShipType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.Forenames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOverdrawn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOverdrawn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MemberShipNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
